body {
    background-color: #4cfb4c;
    font-family: "Nunito Sans", sans-serif;
    color: #1a1a1a; /
}

.input {
    color: red;
}

.saved {
    background-color: whitesmoke;
    border-color: whitesmoke;
    width: 99%;
    display: block;
    margin: 0 auto; 
}

.submit {
    background-color: whitesmoke;
    border-color: whitesmoke;
}
